body{

    background: url(../assets/background\ unigrain2.jpeg);
}
@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400..800&display=swap');
form {
    display: flex;
    flex-direction: column;
    background-color: rgba(79, 32, 12, 0.897);
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: auto;
}
legend{
    text-align: center;
    font-size: 20px;
    margin: 10px 0;
    color: burlywood;
}
label{
    font-size: 20px;
    color: burlywood;
    font-family: "Baloo Paaji 2", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-decoration: double;
}
header {
    top: 0;
    padding: 20px 60px;
    background-color: rgba(79, 32, 12, 0.897);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    margin: 10px;
}
#shop {
    font-size: 25px;
    color:burlywood;
    text-decoration: none;
    font-weight: 700;
}
.navbar a{
    font-size: 18px;
    color:burlywood;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    
}
.bouton{
    position: relative;
    display: none;
    color: blanchedalmond;
    

}
.bouton:hover .menu-toggle{
    display: block;
}
.menu-toggle{
    display: none;
    cursor: pointer;
    position: absolute;
    width: 250px;
    right: 0px;
    font-family: "Afacad Flux", sans-serif;
    background-color: blanchedalmond;
    border: 1px blanchedalmond solid;
    font-size: 20px;
    border-radius: 6px; 
}
.menu-toggle ul{
    display: flex;
    flex-direction: column;
    
}
.menu-toggle ul li a{
    white-space: nowrap;
    color: rgba(54, 13, 13, 0.639);
    text-decoration: none;
}
@media(max-width: 600px){
    .navbar {
        display: none;
    }
    .bouton{
        display: block;
    }
}  

footer{

    background-color: rgba(79, 32, 12, 0.897);
    color: burlywood;
    padding: 0.5%;
    margin: 10px;
}

div#infoentreprise{
    position: relative;
    left: 6%;

}
li{
    list-style: none;
    font-family: "Baloo Paaji 2", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: burlywood;
    display: inline-block;
    margin-right: 10%;
    padding: 10px;

}
main{ 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    
}
h3{
    font-family: "Baloo Paaji 2", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-decoration: double;
    font-size: 25px;
    text-decoration: underline;
    padding: 10px;
    margin: 10px;
    
}
button {
    background: burlywood;
    color: rgba(79, 32, 12, 0.897);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    margin : 5px;
}

button:hover {
    background: #45a049;
}


